<%- include('includes/head.ejs') %>
<!-- link to css files -->
</head>

<body>
    <main class="d-flex flex-nowrap">
        
        <%- include('includes/sidebar.ejs') %>
        <!-- <% if(success!='') { %>
        <div role="alert">
            Data has been entered Successfully
        </div>
        <% } %> -->
        <div style="width:fit-content; margin: auto; ">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Facility Type</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <% data.forEach(entry => { %>
                <option value = "<%=entry.type%>"><%=entry.type%> </option>
                    <%})%> -->
                 <%data.forEach(entry => { %>   
                <th scope="row"><%=entry.facility_id%></th>
                <td><%=entry.name%></td>
                <td><%=entry.facility_type_id%></td>
                <td><%=entry.city_id%></td>
            </tr>
              <%})%>
              
            </tbody>
          </table>
        </div>


        
        <!-- <script>
            var form = document.getElementById('myForm')
            form.addEventListener('submit',function(event){
                event.preventDefault()

                var facility = document.getElementById('facname').value
                var type = document.getElementById('type').value
                var address = document.getElementById('address').value
                var city = 1
                var postalcode = document.getElementById('postalcode').value
                
                var phonenumber = document.getElementById('phonenumber').value
                var webaddress = document.getElementById('webaddress').value
                var Capacity = document.getElementById('Capacity').value
            })
              

        </script> -->


    </main>

    <%- include('includes/end.ejs') %>