<%- include('includes/head.ejs') %>
<!-- link to css files -->
</head>

<body>
    <main class="d-flex flex-nowrap">
        
        <%- include('includes/sidebar.ejs') %>
        <!-- <% if(success!='') { %>
        <div role="alert">
            Data has been entered Successfully
        </div>
        <% } %> --> 
        
        <div style=" flex-direction: column;">
        <div style="width:fit-content; margin: auto;">
        <table class="table table-hover table-sm">
          
              <tr>
                <th scope="col">#</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Facility Type</th>
                <th scope="col">Address</th>
                <th scope="col">Postal code</th>
                <th scope="col">Phone number</th>
                <th scope="col">Web address</th>
                <th scope="col">Capacity</th>
                <th></th>
                <th></th>
              </tr>
            
            <tbody>
              <tr>
                <%if(data.length>0){ %>

                 <%data.forEach(entry =>{ %>   
                <th scope="row"><%=entry.facility_id%></th>
                <td><%=entry.name%></td>
                <td><%=entry.facility_type_id%></td>
                <td><%=entry.address%></td>
                <td><%=entry.postal_code%></td>
                <td><%=entry.phone_number%></td>
                <td><%=entry.web_address%></td>
                <td><%=entry.capacity%></td>
                <td><button class="btn btn-success">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
                

            </tr>
              <%})} else { %>
                <th scope="row">No Data</th>
              <%  }  %>
            </tbody>
          </table>
        </div>
        <br>

        <br>


        <form class="facilityform" id="myForm" method="POST" action="/facility">
          <h2 style="font-family: serif;">Create a new Facility</h2><br>
         
              <label  style="font-family: serif;" for="fname"> Name:</label>
              <input   style="font-family: serif;"type="text"  id="facname" name="facname" required placeholder="Facility">
              
              <!-- dropdown option are from the sql queries, join between facility and facility_type -->
              
              <label style="font-family: serif;margin-left: 3%;" for="facility">Facility Type:</label>
              <select   style ="padding: 6px 10px;"  id="type" name="type" required>
                  <!-- for loop to retrieve data from database -->
              <% field.forEach(entry => { %>
              <option  value = "<%=entry.type%>"><%=entry.type%> </option>
                  <%})%>
                  
              </select>
          
          <br>
          <br>
          
          <label  style="font-family: serif;"for="fname">Address:</label>
          <input type="text" style="font-family: serif;"  id="address" name="address" required placeholder="Address">
          <label  style="font-family: serif;" for="fname">Postal Code:</label>
          <input type="text"  style="font-family: serif; margin-left: 3%" id="postalcode" name="postalcode" required placeholder="Postal Code"><br>
          
          <br>
          <label style="font-family: serif;" for="fname">Web address:</label>
          <input type="text" style="font-family: serif;"  id="webaddress" name="webaddress" required placeholder="Web address">
          <label style="font-family: serif;" for="fname">Total Capacity:</label>
          <input type="number" style="font-family: serif;"  id="Capacity" name="Capacity" required placeholder="Capacity"><br>
          <br>
          <label style="font-family: serif;" for="fname">Phone Number:</label>
          <input type="tel" style="font-family: serif;"  id="phonenumber" name="phonenumber" required placeholder="Phone number"><br>
          <br>

          <input type="submit"  class="btn btn-primary" value="Create" id="name" name="name" required><br>
      </form>
      </div>
      
    </main>

    <%- include('includes/end.ejs') %>