<%- include('includes/head.ejs') %>
<!-- link to css files -->
</head>

<body>
    <main class="d-flex flex-nowrap">
        <%- include('includes/Sidebar.ejs') %>
        <div class="d-flex flex-column mb-3" style="margin: 20px;">

            <%- include('includes/queryNav.ejs') %>
<p>
    Get details of the nurse(s) who is/are currently working and has the highest number of hours scheduled in the system since they started working as a nurse. Details include first-name, last-name, first day of work as a nurse, date of birth, email address, and total number of hours scheduled. 
</p>
<table id = "query15_table" class="table table-striped table-sm ">
    <thead>
      <tr>
         
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">DOB</th>
          <th scope="col">Email</th>
          <th scope="col">Total Hours Worked</th>
      </tr>
  </thead>
      <tbody>
          <tr>
              <%if(data.length>0){ %>
              <%data.forEach(entry =>{ %>
              <td><%=entry.first_name%></td>
              <td><%=entry.last_name%></td>
              <td><%=entry.Start_Date%></td>
              <td><%=entry.date_of_birth%></td>
              <td><%=entry.email%></td>
              <td><%=entry.Total_hours_worked%></td>
              
          </tr>
          <%})} else { %>
          <th scope="row">No Data</th>
          <%  }  %>
      </tbody>
  </table>
        </div>


    </main>

    <%- include('includes/end.ejs') %>